//主色系
$mainBG_1: #1c1c1c;
$mainBG_2: #101010;

@mixin bgStyle_1 {
    width: 100%;
    height: calc(100vh - 106px);
    overflow-y: auto;
    padding-bottom: 10px;
}
@mixin bgStyle_2 {
    background: #101010;
    border-radius: 5px;
    border: solid 1px #bf9e67;
}

@mixin titleBG_1 {
    background: linear-gradient(to top,#252525 8%,#383838 93%);
    border-bottom: solid 1px #464646;
}

//主要字色
$mainWord_1: #d3ae6d;
$mainWord_2: #9a9a9a;

//主標題
$title_1: #f2d095;
$title_2: #ffe4b5;

//主要邊框色
$mainBorder_1: #bf9e67;
$mainBorder_2: #464646;

//金額色
$money: #ffffff;

//可選字色
$click: #ffffff;

//小提示字色
$remind: #ff2e2e;
$remind_Sp: #38ff2e;

//選擇列字色+選擇列active
@mixin chooseStyle_1 {
    display: flex;

    li {
        background: #1c1c1c;
        border-bottom: solid 2px transparent;
        color: #929292;
        font-size: 4vw;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;

        &:active,&.active {
            color: #fed792;
            border-color: #c7a16e;
        }
    }
}

//noData
@mixin noData {
    display: none;
    width: 100%;
    height: auto;
    color: #9a9a9a;
    font-size: 3.4vw;
    font-weight: bold;
    text-align: center;
    padding: 80px 0;

    &.display {
        display: block;
    }
}

//彈窗背景透明底
$filter: #000000b7;


//頁面個別調整


//header
$header_Msg_remindColor: #ec0808;
$header_BG: linear-gradient(to top,#2b2b2b 0%,#474747 100%);
$header_Title: #d3ae6d;
$header_Border: #464646;

//ad
$ad_Dot_BG: #676769;
$ad_Dot_Active: #bc9c64;
$ad_Dot_Border: #ffffff;

//marquee
$marquee_BG: linear-gradient(to top,#2e2e2e 0%,#1b1a1a 100%);
$marquee_Linear: linear-gradient(to bottom,#454444 0%,transparent 70%);
$marquee_Border: #7d6742;
$marquee_Word: #d3ae6d;

//homeCenter
$homeCenter_gameBox_Title: #fed792;
$homeCenter_gameBox_English: #929292;
@mixin LVstyle {
    background: linear-gradient(to top,#bc9c64 4%,#f3d197 93%);
    border-radius: 8px;
    color: #101010;
    font-size: 3.4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}

//footer
$footer_BG: linear-gradient(to top,#161616 0%,#1f1e1d 93%,#423f3a 100%);
$footer_ActiveBG: linear-gradient(to top,#211e1a 0%,#101010 82%);
$footer_Word: #9a9a9a;
$footer_Active: #efcc8e;

//jumpWindow
$jumpWindow_BG: #101010;
$jumpWindow_TitleBG: linear-gradient(to top, #2b2b2b 0%, #474747 100%);
$jumpWindow_Title: #d3ae6d;
$jumpWindow_Border: #bf9e67;

//member
$member_Security_Title: #ffffff;
$member_Security_Low: #ff2e2e;
$member_Security_Middle: #FF902E;
$member_Security_High: #38FF2E;
@mixin member_WalletBox {
    background: linear-gradient(to bottom,#2e2e2e 0%,#1b1a1a 100%);
    border-radius: 5vw 0 0 5vw;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #7d6742;
    color: #ffffff;
    font-size: 3.4vw;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
@mixin member_Bubble {
    background: #e11515;
    border-radius: 50%;
    border: solid 1px #ffffff;
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0 2px 2px;
}

//mail
@mixin checkBox {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        border: solid 1px #bf9e67;
        background: #101010;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &:checked {

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background: linear-gradient(to top,#bc9c64 4%,#f3d197 93%);
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

//eventApply
$currentBG: #373737;

//card
$card_Word: #101010;
$card_Shadow: #0000006c;
$card_StatusBG: linear-gradient(to top,#2b2b2b 0%,#474747 100%);
$card_StatusWord: #d3ae6d;

//deposit
@mixin depositBtn {
    background: linear-gradient(to top,#252525 8%,#383838 93%);
    border: solid 1px #b09365;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #d3ae6d;
    font-size: 3.4vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;

    &:active,&.active {
        background: linear-gradient(to bottom,#bc9c64 4%,#f3d197 93%);
        border-color: #f3d197;
        color: #101010;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(50%,50%) rotate(45deg);
            background: #2f2f2f;
            width: 8vw;
            height: 8vw;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0.5vw;
            bottom: 0.5vw;
            width: 2.5vw;
            height: 2.5vw;
        }
    }
}

//slotPage
@mixin slotSearch {
    background: #101010;
    border-radius: 30px;
    border: solid 1px #bf9e67;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
@mixin slotSearch_Input {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
    padding-left: 10px;

    &::placeholder {
        color: #848484;
    }
}

//vip
$vip_LevelCur: #d3ae6d;
$vip_LevelWord: #101010;
$vip_LevelLinear: linear-gradient(to top,#bc9c64 4%,#f3d197 93%);


//button


//常用按鈕
@mixin mainBtn {
    background: linear-gradient(to top,#bc9c64 4%,#f3d197 93%);
    color: #101010;
    font-size: 4vw;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 10px;

    &:active,&.active {
        background: linear-gradient(to bottom,#bc9c64 4%,#f3d197 93%);
    }
}
//第二常用
@mixin secondBtn {
    background: linear-gradient(to top,#252525 8%,#383838 93%);
    border: solid 1px #b09365;
    color: #d3ae6d;
    font-size: 4vw;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 10px 2px;

    &:active,&.active {
        background: linear-gradient(to bottom,#bc9c64 4%,#f3d197 93%);
        color: #101010;
    }
}
$secondBtn_Word: #101010;
//假select樣式按鈕
@mixin fakeSelect {
    background: #101010;
    border-radius: 3px;
    border: solid 1px #bf9e67;
    color: #ffffff;
    font-size: 3.4vw;
    padding: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

    i {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #d3ae6d transparent;
    }
}

button:disabled {
    background: #2b2b2b !important;
    border: none !important;
    box-shadow: none !important;
    color: #474747 !important;
    pointer-events: none;
}


//input


//常用input
@mixin mainInput {
    background: none;
    border-radius: 3px;
    border: solid 1px #bf9e67;
    color: #ffffff;
    font-size: 3.7vw;
    font-weight: bold;
    padding-left: 15px;

    &::placeholder {
        color: #848484;
    }
}
//member頁用input
@mixin memberInput {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 3.4vw;
    font-weight: bold;
    text-align: right;

    &::placeholder {
        color: #595959;
    }

    &.empty {
        color: #ff2e2e;
    }
}

input:disabled {
    padding: 0 !important;
    border: none !important;
    pointer-events: none !important;
}


//select


@mixin mainSelect {
    background-color: #101010;
    border-radius: 5px;
    color: #ffffff;
    font-size: 3.4vw;
    font-weight: bold;
    background-image: linear-gradient(45deg,transparent 50%,#d3ae6d 0),linear-gradient(135deg,#d3ae6d 50%,transparent 0);
    background-position: calc(100% - 20px) calc(1em + 5px),calc(100% - 15px) calc(1em + 5px);
    background-size: 5px 5px,5px 5px;
    background-repeat: no-repeat;
    border: solid 1px #bf9e67;
    padding-left: 15px;
    appearance: none;
}



//套件



@mixin wordHidden {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}