//header
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    flex-shrink: 0;

    //content
    .content {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        padding: 0 14px;
        position: relative;
        overflow: hidden;

        &.inner {
            background: $header_BG;
            border-bottom: solid 1px $header_Border;
        }

        .title {
            width: 70%;
            height: auto;
            color: $header_Title;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            letter-spacing: 2px;
            margin: 0 auto;
            @include wordHidden;
        }

        .back_arrow {
            width: 10px;
            height: 17px;
            position: absolute;
            left: 14px;
        }

        .refresh_ic,
        .msg_ic,
        .edit_ic {
            width: 21px;
            height: 21px;
            position: absolute;
            right: 14px;

            &.msg_ic {

                &.active {

                    span {
                        display: block;
                        width: 8px;
                        height: 8px;
                        background: $header_Msg_remindColor;
                        border-radius: 50%;
                        position: absolute;
                        right: -2px;
                        top: 0;
                    }
                }
            }

            &.edit_ic {
                display: none;

                &.display {
                    display: block;
                }
            }
        }

        .detailBtn {
            width: auto;
            height: 27px;
            position: absolute;
            right: 14px;
            @include mainBtn;
            font-size: 3.4vw;
            display: none;

            &.display {
                display: block;
            }
        }

        &.helpPage {
            display: none;

            &.display {
                display: flex;
            }
        }
    }
}