//marquee_ic
.marqueeBox .marquee_ic {
    background: url('../images/icon/svg/marquee.svg') no-repeat;
    background-size: 100%;
}

//login_ic
.loginBtn .login_ic {
    background: url('../images/icon/svg/sign_in.svg') no-repeat;
    background-size: 100%;
}

//gameList ic
.gameList .hotBtn .hot_ic {
    background: url('../images/icon/svg/hot.svg') no-repeat;
    background-size: 100%;
}
.gameList .slotBtn .slot_ic {
    background: url('../images/icon/svg/slot.svg') no-repeat;
    background-size: 100%;
}
.gameList .fishBtn .fish_ic {
    background: url('../images/icon/svg/fish.svg') no-repeat;
    background-size: 100%;
}
.gameList .liveBtn .live_ic {
    background: url('../images/icon/svg/live.svg') no-repeat;
    background-size: 100%;
}
.gameList .sportBtn .sport_ic {
    background: url('../images/icon/svg/sport.svg') no-repeat;
    background-size: 100%;
}
.gameList .lotteryBtn .lottery_ic {
    background: url('../images/icon/svg/lotto.svg') no-repeat;
    background-size: 100%;
}
.gameList .boardBtn .board_ic {
    background: url('../images/icon/svg/board.svg') no-repeat;
    background-size: 100%;
}

.gameList .slotBtn.active .slot_ic {
    background: url('../images/icon/svg/slot2.svg') no-repeat;
    background-size: 100%;
}
.gameList .fishBtn.active .fish_ic {
    background: url('../images/icon/svg/fish2.svg') no-repeat;
    background-size: 100%;
}
.gameList .liveBtn.active .live_ic {
    background: url('../images/icon/svg/live2.svg') no-repeat;
    background-size: 100%;
}
.gameList .sportBtn.active .sport_ic {
    background: url('../images/icon/svg/sport2.svg') no-repeat;
    background-size: 100%;
}
.gameList .lotteryBtn.active .lottery_ic {
    background: url('../images/icon/svg/lotto2.svg') no-repeat;
    background-size: 100%;
}
.gameList .boardBtn.active .board_ic {
    background: url('../images/icon/svg/board2.svg') no-repeat;
    background-size: 100%;
}

//footer ic
footer li .menu_ic {
    background: url('../images/icon/svg/home.svg') no-repeat top center;
    background-size: 100%;
}
footer li .event_ic {
    background: url('../images/icon/svg/discount.svg') no-repeat top center;
    background-size: 100%;
}
footer li .wallet_ic {
    background: url('../images/icon/svg/wallet.svg') no-repeat top center;
    background-size: 100%;
}
footer li .service_ic {
    background: url('../images/icon/svg/service.svg') no-repeat top center;
    background-size: 72%;
}
footer li .center_ic {
    background: url('../images/icon/svg/member.svg') no-repeat top center;
    background-size: 79%;
}

footer li.active .menu_ic {
    background: url('../images/icon/svg/home2.svg') no-repeat top center;
    background-size: 100%;
}
footer li.active .event_ic {
    background: url('../images/icon/svg/discount2.svg') no-repeat top center;
    background-size: 100%;
}
footer li.active .wallet_ic {
    background: url('../images/icon/svg/wallet2.svg') no-repeat top center;
    background-size: 100%;
}
footer li.active .service_ic {
    background: url('../images/icon/svg/service2.svg') no-repeat top center;
    background-size: 72%;
}
footer li.active .center_ic {
    background: url('../images/icon/svg/member2.svg') no-repeat top center;
    background-size: 79%;
}

//jumpWindow .close_ic
.jumpWindow .title .close {
    background: url('../images/icon/svg/close.svg') no-repeat;
    background-size: 100%;
}
//jumpWindow.login login_ic
.jumpWindow.loginWindow .title .icon,
.jumpWindow.registerWindow .title .icon {
    background: url('../images/icon/svg/sign_in_w.svg') no-repeat;
    background-size: 100%;
}
//jumpWindow .eye
.jumpWindow .eye {
    background: url('../images/icon/svg/eye.svg') no-repeat;
    background-size: 100%;
}
//jumpWindow .choose ic
.jumpWindow .choose .line span {
    background: url('../images/icon/choose_ic.png') no-repeat;
    background-size: 100%;
}
.jumpWindow .choose .weChat span {
    background: url('../images/icon/choose_ic.png') no-repeat;
    background-size: 100%;
    background-position-y: 100%;
}

//header 推薦好友
header .recFbtn {
    background: url(../images/recommendBTN.gif) no-repeat;
    background-size: 153%;
}

//header back_arrow
header .back_arrow {
    background: url('../images/icon/svg/arrow_w.svg') no-repeat;
    background-size: 100%;
}
//header refreash_ic
header .refresh_ic {
    background: url('../images/icon/svg/refresh_w.svg') no-repeat;
    background-size: 100%;
}

//slotPage .slotHeader ic
.slotHeader li .all_ic {
    background: url('../images/icon/svg/all.svg') no-repeat;
    background-size: 100%;
}
.slotHeader li .hot_ic {
    background: url('../images/icon/svg/popular.svg') no-repeat;
    background-size: 100%;
}
.slotHeader li .love_ic,
.gameBox.hotBox .love {
    background: url('../images/icon/svg/favorite.svg') no-repeat;
    background-size: 100%;
}

.slotHeader li.active .all_ic {
    background: url('../images/icon/svg/all2.svg') no-repeat;
    background-size: 100%;
}
.slotHeader li.active .hot_ic {
    background: url('../images/icon/svg/popular2.svg') no-repeat;
    background-size: 100%;
}
.slotHeader li.active .love_ic,
.gameBox.hotBox .love.active  {
    background: url('../images/icon/svg/favorite2.svg') no-repeat;
    background-size: 100%;
}
//slotPage .search_ic
.slotHeader .search_ic {
    background: url('../images/icon/svg/search.svg') no-repeat;
    background-size: 100%;
}
//slotPage .gameBox .love
.slotWrap .gameBox .love {
    background: url('../images/icon/svg/love1.svg') no-repeat;
    background-size: 100%;
}
.slotWrap .gameBox .love.active {
    background: url('../images/icon/svg/love2.svg') no-repeat;
    background-size: 100%;
}

//event .all_ic
.eventType .all_ic {
    background: url('../images/icon/svg/entire.svg') no-repeat;
    background-size: 100%;
}

//wallet .amount ic
.walletWrap .amount .title .icon {
    background: url('../images/icon/svg/problem_gr.svg') no-repeat;
    background-size: 100%;
}
//wallet 轉存提ic
.walletWrap .deposit_ic {
    background: url('../images/icon/svg/deposit.svg') no-repeat;
    background-size: 100%;
}
.walletWrap .transfer_ic {
    background: url('../images/icon/svg/transfer.svg') no-repeat;
    background-size: 100%;
}
.walletWrap .withdrawal_ic {
    background: url('../images/icon/svg/withdrawal.svg') no-repeat;
    background-size: 100%;
}
//wallet db_arrow
.walletWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}
//wallert refresh_ic
.walletWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}

//member .arrow_ic
.memberWrap .arrow_ic {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}
//member .wallet_ic+vip_ic
.memberWrap .wallet_ic {
    background: url('../images/icon/svg/wallet_r.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .vip_ic {
    background: url('../images/icon/svg/vip.svg') no-repeat center;
    background-size: 100%;
}
//member .user ul ic
.memberWrap .bet_ic {
    background: url('../images/icon/svg/betting_record.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .deal_ic {
    background: url('../images/icon/svg/transaction.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .mail_ic {
    background: url('../images/icon/svg/mail.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .card_ic {
    background: url('../images/icon/svg/bankcard.svg') no-repeat center;
    background-size: 100%;
}
//member 選項條ic
.memberWrap .event_ic {
    background: url('../images/icon/svg/quest.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .eventApply_ic {
    background: url('../images/icon/svg/application.svg') no-repeat center;
    background-size: 69%;
}
.memberWrap .help_ic {
    background: url('../images/icon/svg/problem.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .about_ic {
    background: url('../images/icon/svg/marvel.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .join_ic {
    background: url('../images/icon/svg/joinus.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .app_ic {
    background: url('../images/icon/svg/download.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .lang_ic {
    background: url('../images/icon/svg/language.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .logout_ic {
    background: url('../images/icon/svg/exit.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .point_ic {
    background: url('../images/icon/svg/point.svg') no-repeat;
    background-size: contain;
}
.memberWrap .fix_ic {
    background: url('../images/icon/svg/fixing.svg') no-repeat;
    background-size: contain;
}
.memberWrap .special_ic {
    background: url('../images/icon/svg/special.svg') no-repeat;
    background-size: contain;
}
.memberWrap .partner_ic {
    background: url('../images/icon/svg/partner.svg') no-repeat;
    background-size: contain;
}
.memberWrap .recFriend_ic {
    background: url('../images/icon/svg/innerNav_recFriend.svg') no-repeat;
    background-size: contain;
}

//app .download_ic
.appWrap .download_ic {
    background: url('../images/icon/svg/download.svg') no-repeat;
    background-size: 100%;
}

//joinUsWrap
.joinUsWrap {
    background: url('../images/joinus_bg.png') no-repeat;
    background-size: 100%;
}
//joinUsWrap ic
.joinUsWrap .accurate_ic {
    background: url('../images/icon/svg/accurate.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .quality_ic {
    background: url('../images/icon/svg/quality.svg') no-repeat center;
    background-size: 65%;
}
.joinUsWrap .commission_ic {
    background: url('../images/icon/svg/commission.svg') no-repeat;
    background-size: 100%;
}

.joinUsWrap .phone_ic {
    background: url('../images/icon/svg/24hr.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .line_ic {
    background: url('../images/icon/svg/line.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .weChat_ic {
    background: url('../images/icon/svg/wechat.svg') no-repeat;
    background-size: 100%;
}

.joinUsWrap .abundant_ic {
    background: url('../images/icon/svg/abundant.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .stable_ic {
    background: url('../images/icon/svg/stable.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .secret_ic {
    background: url('../images/icon/svg/secret.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .safety_ic {
    background: url('../images/icon/svg/safety.svg') no-repeat;
    background-size: 100%;
}
//joinUsWrap .photo+.phone
.joinUsWrap .photo {
    background: url('../images/join_01.png') no-repeat;
    background-size: 100%;
}
.joinUsWrap .phone {
    background: url('../images/join_02.png') no-repeat;
    background-size: 100%;
}

//helpWrap arrow_ic
.helpWrap .selectBox .arrow_ic {
    background: url('../images/icon/svg/arrow_gray.svg') no-repeat;
    background-size: 100%;
}
.helpInner .title .arrow_ic {
    background: url('../images/icon/svg/arrow_gray.svg') no-repeat;
    background-size: 100%;
}
//helpInner icon
.helpInner .title .about {
    background: url('../images/icon/svg/about.svg') no-repeat center;
    background-size: contain;
}
.helpInner .title .new {
    background: url('../images/icon/svg/lamp.svg') no-repeat center;
    background-size: contain;
}
.helpInner .title .often {
    background: url('../images/icon/svg/problem2.svg') no-repeat center;
    background-size: contain;
}
//helpInner .img
// .helpInner .img.depositWay {
//     background: url('../images/explain/withdraw.png') no-repeat;
//     background-size: 100%;
// }
.helpInner .img.deposit_water {
    background: url('../images/explain/online01.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.withdrawalWay {
    background: url('../images/explain/withdraw.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.transferWay {
    background: url('../images/explain/transfer.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.tv {
    background: url('../images/explain/tv.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.remote {
    background: url('../images/explain/remote.png') no-repeat;
    background-size: 100%;
}

.helpInner .img.download01 {
    background: url('../images/explain/download01.jpg') no-repeat;
    background-size: 100%;
}
.helpInner .img.download02 {
    background: url('../images/explain/download02.jpg') no-repeat;
    background-size: 100%;
}
.helpInner .img.download03 {
    background: url('../images/explain/download03.jpg') no-repeat;
    background-size: 100%;
}
.helpInner .img.download04 {
    background: url('../images/explain/download04.jpg') no-repeat;
    background-size: 100%;
}
.helpInner .img.download05 {
    background: url('../images/explain/download05.jpg') no-repeat;
    background-size: 100%;
}
.helpInner .img.download06 {
    background: url('../images/explain/download06.jpg') no-repeat;
    background-size: 100%;
}

.helpInner .q1-01 {
    background: url('../images/help/01.jpg') no-repeat;
}
.helpInner .q1-02 {
    background: url('../images/help/02.jpg') no-repeat;
}
.helpInner .q1-03 {
    background: url('../images/help/03.jpg') no-repeat;
}
.helpInner .q2-01 {
    background: url('../images/help/08.jpg') no-repeat;
}
.helpInner .q2-02 {
    background: url('../images/help/09.jpg') no-repeat;
}
.helpInner .q2-03 {
    background: url('../images/help/10.jpg') no-repeat;
}
.helpInner .q2-04 {
    background: url('../images/help/11.jpg') no-repeat;
}
.helpInner .q2-05 {
    background: url('../images/help/12.jpg') no-repeat;
}
.helpInner .q3-01 {
    background: url('../images/help/17.jpg') no-repeat;
}
.helpInner .q3-02 {
    background: url('../images/help/18.jpg') no-repeat;
}
.helpInner .q3-03 {
    background: url('../images/help/19.jpg') no-repeat;
}
.helpInner .q3-04 {
    background: url('../images/help/100.jpg') no-repeat;
}
.helpInner .q3-05 {
    background: url('../images/help/20.jpg') no-repeat;
}
.helpInner .q4-01 {
    background: url('../images/help/26.jpg') no-repeat;
}
.helpInner .q4-02 {
    background: url('../images/help/27.jpg') no-repeat;
}
.helpInner .q4-03 {
    background: url('../images/help/28.jpg') no-repeat;
}
.helpInner .q4-04 {
    background: url('../images/help/29.jpg') no-repeat;
}
.helpInner .q4-05 {
    background: url('../images/help/30.jpg') no-repeat;
}
.helpInner .q5-01 {
    background: url('../images/help/34.jpg') no-repeat;
}
.helpInner .q5-02 {
    background: url('../images/help/35.jpg') no-repeat;
}
.helpInner .q5-03 {
    background: url('../images/help/36.jpg') no-repeat;
}
.helpInner .q5-04 {
    background: url('../images/help/37.jpg') no-repeat;
}
.helpInner .q5-05 {
    background: url('../images/help/38.jpg') no-repeat;
}
.helpInner .q6-01 {
    background: url('../images/help/42.jpg') no-repeat;
}
.helpInner .q6-02 {
    background: url('../images/help/43.jpg') no-repeat;
}
.helpInner .q6-03 {
    background: url('../images/help/44.jpg') no-repeat;
}
.helpInner .q6-04 {
    background: url('../images/help/45.jpg') no-repeat;
}
.helpInner .q6-05 {
    background: url('../images/help/46.jpg') no-repeat;
}
.helpInner .q7-01 {
    background: url('../images/help/73.jpg') no-repeat;
}
.helpInner .q7-02 {
    background: url('../images/help/74.jpg') no-repeat;
}
.helpInner .q7-03 {
    background: url('../images/help/75.jpg') no-repeat;
}
.helpInner .q7-04 {
    background: url('../images/help/76.jpg') no-repeat;
}
.helpInner .q8-01 {
    background: url('../images/help/50.jpg') no-repeat;
}
.helpInner .q8-02 {
    background: url('../images/help/51.jpg') no-repeat;
}
.helpInner .q8-03 {
    background: url('../images/help/52.jpg') no-repeat;
}
.helpInner .q8-04 {
    background: url('../images/help/53.jpg') no-repeat;
}
.helpInner .q8-05 {
    background: url('../images/help/54.jpg') no-repeat;
}
.helpInner .q8-06 {
    background: url('../images/help/55.jpg') no-repeat;
}
.helpInner .q9-01 {
    background: url('../images/help/86.jpg') no-repeat;
}
.helpInner .q9-02 {
    background: url('../images/help/87.jpg') no-repeat;
}
.helpInner .q10-01 {
    background: url('../images/help/59.jpg') no-repeat;
}
.helpInner .q10-02 {
    background: url('../images/help/60.jpg') no-repeat;
}
.helpInner .q10-03 {
    background: url('../images/help/61.jpg') no-repeat;
}
.helpInner .q10-04 {
    background: url('../images/help/62.jpg') no-repeat;
}
.helpInner .q11-01 {
    background: url('../images/help/66.jpg') no-repeat;
}
.helpInner .q11-02 {
    background: url('../images/help/67.jpg') no-repeat;
}
.helpInner .q11-03 {
    background: url('../images/help/68.jpg') no-repeat;
}
.helpInner .q11-04 {
    background: url('../images/help/69.jpg') no-repeat;
}
.helpInner .q12-01 {
    background: url('../images/help/80.jpg') no-repeat;
}
.helpInner .q12-02 {
    background: url('../images/help/81.jpg') no-repeat;
}
.helpInner .q12-03 {
    background: url('../images/help/82.jpg') no-repeat;
}
.helpInner .q13-01 {
    background: url('../images/help/90.jpg') no-repeat;
}
.helpInner .q13-02 {
    background: url('../images/help/91.jpg') no-repeat;
}
.helpInner .q13-03 {
    background: url('../images/help/92.jpg') no-repeat;
}
.helpInner .q13-04 {
    background: url('../images/help/93.jpg') no-repeat;
}
.helpInner .q13-05 {
    background: url('../images/help/94.jpg') no-repeat;
}
.helpInner .q13-06 {
    background: url('../images/help/95.jpg') no-repeat;
}
.helpInner .usdt-01 {
    background: url('../images/help/usdt-01.jpg') no-repeat;
}
.helpInner .usdt-02 {
    background: url('../images/help/usdt-02.jpg') no-repeat;
}
.helpInner .usdt-03 {
    background: url('../images/help/usdt-03.jpg') no-repeat;
}
.helpInner .android.img_1 {
    background: url('../images/download_new/1-1.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_2 {
    background: url('../images/download_new/1-2.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_3 {
    background: url('../images/download_new/1-3.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_4 {
    background: url('../images/download_new/1-4.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_5 {
    background: url('../images/download_new/1-5.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_6 {
    background: url('../images/download_new/1-6.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_7 {
    background: url('../images/download_new/1-7.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_8 {
    background: url('../images/download_new/1-8.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_9 {
    background: url('../images/download_new/1-9.png') no-repeat;
    background-size: contain;
}
.helpInner .android.img_10 {
    background: url('../images/download_new/1-10.png') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_1 {
    background: url('../images/download_new/2-1.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_2 {
    background: url('../images/download_new/2-2.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_3 {
    background: url('../images/download_new/2-3.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_4 {
    background: url('../images/download_new/2-4.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_5 {
    background: url('../images/download_new/2-5.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_6 {
    background: url('../images/download_new/2-6.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_7 {
    background: url('../images/download_new/2-7.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_8 {
    background: url('../images/download_new/2-8.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_9 {
    background: url('../images/download_new/2-9.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_10 {
    background: url('../images/download_new/2-10.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_11 {
    background: url('../images/download_new/2-11.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_12 {
    background: url('../images/download_new/2-12.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_13 {
    background: url('../images/download_new/2-13.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_14 {
    background: url('../images/download_new/2-14.jpg') no-repeat;
    background-size: contain;
}
.helpInner .ios.img_15 {
    background: url('../images/download_new/2-15.jpg') no-repeat;
    background-size: contain;
}

.csPage .cs_IC {
    background: url('../images/icon/svg/cs_new.svg');
    background-size: 100%;
}
.csPage .line_IC {
    background: url('../images/icon/svg/line.svg');
    background-size: 100%;
}


//member_info
.memberInfo .info_2 .check {
    background: url('../images/icon/svg/check.svg') no-repeat;
    background-size: 100%;
}
.memberInfo .info_2 .noCheck {
    background: url('../images/icon/svg/nocheck.svg') no-repeat;
    background-size: 100%;
}
.memberInfo .info_2 .arrow_ic {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}

//vip
.vipWrap .medal {
    background: url('../images/medal.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v2 {
    background: url('../images/medal_2.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v3 {
    background: url('../images/medal_3.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v4 {
    background: url('../images/medal_4.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v5 {
    background: url('../images/medal_5.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v6 {
    background: url('../images/medal_6.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v7 {
    background: url('../images/medal_7.png') no-repeat center;
    background-size: contain;
}
//vip cardBox arrow
.vipWrap .cardBox i {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: contain;
}
.vipWrap .checkBtn .arrow {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: contain;
}
.vipDetail .list i::before {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: contain;
}
//vip .card
.vipWrap .cardBox .card li {
    background: url('../images/vip_card.png') no-repeat;
    background-size: contain;
}

//mail
header .editBtn {
    background: url('../images/icon/svg/edit.svg') no-repeat;
    background-size: 100%;
}

// //card
// .cardList .cardBox .add {
//     background: url('../images/icon/svg/add.svg') no-repeat center;
//     background-size: 20%;
// }

//deposit
.depositWrap .card_ic {
    background: url('../images/icon/svg/card.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .atm_ic {
    background: url('../images/icon/svg/atm.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .usdt_ic {
    background: url('../images/icon/svg/usdt.svg') no-repeat;
    background-size: contain;
}
.depositWrap .shop_ic {
    background: url('../images/icon/svg/shop.svg') no-repeat;
    background-size: contain;
}
.depositWrap .listWrap li.active::after {
    background: url('../images/icon/check_w.png') no-repeat center;
    background-size: contain;
}

//transdrawal
.transWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}
.transWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}

//withdrawal
.withWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}
.withWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}
.withWrap .detail.last div .problem,
.walletWrap .details .problem {
    background: url('../images/icon/svg/problem_red.svg') no-repeat;
    background-size: 93%;
}

//loading
.jumpWindow.loading .img {
    background: url('../images/icon/svg/loading_b.svg') no-repeat;
    background-size: 100%;
}

//新增i
.walletList .forPlatform .smallInfo,
.transWrap .forPlatform .smallInfo,
.withWrap .detailBox .smallInfo {
    background: url('../images/icon/svg/information.svg') no-repeat;
    background-size: 100%;
}

//finger
.vipDetail .finger {
    background: url('../images/icon/finger.png') no-repeat center;
    background-size: contain;
}

//新增雙箭頭
.jumpWindow.bettingDetail .pageBox .arrowBox i {
    background: url('../images/icon/svg/unfold.svg') no-repeat center;
    background-size: contain;
}

//operate
.operate .deposit_ic {
    background: url('../images/icon/svg/ope_deposit.svg') no-repeat;
    background-size: contain;
}
.operate .transfer_ic {
    background: url('../images/icon/svg/ope_transfer.svg') no-repeat;
    background-size: contain;
}
.operate .withdrawal_ic {
    background: url('../images/icon/svg/ope_withdrawal.svg') no-repeat;
    background-size: contain;
}
.operate .vip_ic {
    background: url('../images/icon/ope_vip.png') no-repeat;
    background-size: contain;
}

//header
header {
    background: url('../images/headerBG.png') no-repeat;
    background-size: cover;
}

//special
.specialWrap .arrow_ic {
    background: url('../images/special/arrow.png') no-repeat;
    background-size: contain;
}


////////img↓


//header - logo
header .logo {
    width: 58px;
    height: 26px;
}

//ad - banner
.single-item {
    // width: 97vw;
    width: 100%;
    height: 43.73vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
//home - aside
aside .sharetoEarnBTN {
    background: url(../images/sharetoEarn.png) no-repeat center;
    background-size: 100%;
}

//home - 遊戲platform
.homeCenter .gameBox img {
    width: 100%;
    // height: 17.4vw;
    object-fit: contain;
}

//slotPage - .gameBox img
.slotWrap .gameBox img {
    width: 100%;
    height: 106px;
    object-fit: cover;
}

//eventImg
.eventList .eventImg {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
}
.eventDetail .eventImg {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        object-fit: contain;
    }
}

//app
.appWrap img {
    width: 100%;
    height: 96px;
    object-fit: cover;
}

//eventWindow img
.eventWindow {

    img {
        width: 100%;
        height: auto;
    }
}

//special
.specialWrap img {
    width: 100%;
    object-fit: contain;
}