//彈窗
.filter {
    width: 100%;
    height: 100%;
    background: $filter;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &.display {
        display: flex;
    }

    .jumpWindow {
        width: 92%;
        height: auto;
        background: $jumpWindow_BG;
        border-radius: 16px;
        border: solid 1px $jumpWindow_Border;
        overflow: hidden;
        display: none;

        &.display {
            display: block;
        }

        .title {
            width: 100%;
            height: 50px;
            background: $jumpWindow_TitleBG;
            font-size: 21px;
            font-weight: bold;
            color: $jumpWindow_Title;
            letter-spacing: 2px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
    
            i {
                width: 4.73vw;
                height: 4.73vw;
                position: absolute;
                right: 3.5vw;
            }
        }
        
        //請先XX轉跳視窗
        &.plsGo,
        &.plsGo2 {
    
            .content {
                width: 100%;
                height: auto;
                color: $mainWord_1;
                font-size: 3.7vw;
                font-weight: bold;
                letter-spacing: 1px;
                text-align: center;
                padding: 24px 80px;
    
                p {
                    line-height: 4.2vw;
                }
            }
    
            button {
                width: 92%;
                height: 42px;
                @include mainBtn;
                display: block;
                margin: 0 auto 24px;
            }
        }

        //登入帳密視窗
        &.loginWindow {

            .title {

                .icon {
                    width: 32px;
                    height: 32px;
                    margin-right: 16px;
                }
            }

            form {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                flex-direction: column;

                label {
                    width: auto;
                    height: auto;
                    position: relative;

                    &:nth-of-type(1) {
                        margin: 9vw 0 8vw;
                    }

                    input {
                        width: 77.6vw;
                        height: 9.87vw;
                        @include mainInput;
                    }

                    .eye {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        display: block;
                        width: 6.13vw;
                        height: 4.26vw;
                    }
                }

                .forget {
                    width: 77.6vw;
                    height: auto;
                    text-align: right;
                    margin-top: 10px;

                    p {
                        display: inline-block;
                        font-size: 2vw;
                        font-weight: bold;
                        color: $click;

                        span {
                            margin: 0 2px;
                            text-decoration: underline;
                        }
                    }
                }

                .realLogin {
                    width: 77.6vw;
                    height: 11.2vw;
                    margin: 8vw 0;
                    @include mainBtn;
                }
            }

            .signupBtn {
                color: $mainWord_1;
                font-size: 3.4vw;
                font-weight: bold;
                letter-spacing: 1px;
                display: flex;
                justify-content: center;
                margin-bottom: 9vw;

                p {
                    margin-left: 10px;
                    color: $click;
                }
            }
        }

        //忘記密碼
        &.forgetWindow {

            form {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    width: 77.6vw;
                    height: 9.87vw;
                    @include mainInput;
                    margin-top: 6vw;
                }

                button {
                    width: 77.6vw;
                    height: 11.2vw;
                    @include mainBtn;
                    margin-top: 6vw;
                }

                .remind {
                    width: 100%;
                    height: auto;
                    color: $remind;
                    font-size: 3.4vw;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 6vw 0;
                }
            }
        }

        //註冊
        &.registerWindow {

            .title {

                .icon {
                    width: 32px;
                    height: 32px;
                    margin-right: 16px;
                }
            }

            form {
                width: 100%;
                height: auto;
                max-height: 70vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-y: auto;
                padding: 5vw 0;

                label {
                    position: relative;
                    margin-bottom: 6vw;

                    input {
                        width: 77.6vw;
                        height: 9.87vw;
                        @include mainInput;
                    }

                    .remind {
                        width: 77.6vw;
                        height: auto;
                        color: $remind;
                        font-size: 12px;
                        font-weight: bold;
                        position: absolute;
                        top: 10.5vw;
                        left: 0;
                    }

                    .eye {
                        width: 6.13vw;
                        height: 4.26vw;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                    }

                    &.isCheck {
                        width: 77.6vw;
                        height: auto;
                        color: $mainWord_1;
                        font-size: 14px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;

                        input[type = checkbox]{
                            width: 4.5vw;
                            height: 4.5vw;
                            margin-right: 10px;
                        }

                        p {
                            color: $click;
                            margin-left: 10px;
                        }
                    }

                    .cellphoneCheck {
                        width: 23vw;
                        height: 8vw;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 5px;
                        @include mainBtn;
                        border-radius: 5px;
                        font-size: 2vw;
                    }
                }

                .checkBtn {
                    width: 77.6vw;
                    height: 11.2vw;
                    @include mainBtn;
                    flex-shrink: 0;
                }
            }
        }

        //使用條款
        &.ruleWindow {

            .content {
                width: 100%;
                height: 67vh;
                overflow-y: auto;

                .ruleBody {
                    width: calc(100% - 32px);
                    margin: 16px auto;

                    h2 {
                        color: $title_1;
                        font-size: 4.3vw;
                        font-weight: bold;
                        line-height: 1.8;
                        padding: 10px 5px;
                    }

                    p {
                        color: $mainWord_1;
                        font-size: 3.4vw;
                        font-weight: bold;
                        line-height: 5vw;
                        padding: 10px 5px;
                    }

                    ul {
                        width: 100%;
                        height: auto;
                        padding: 0 32px;
                        list-style: initial;
                        margin-bottom: 16px;

                        li {
                            color: $mainWord_1;
                            font-size: 3.4vw;
                            font-weight: bold;
                            line-height: 5vw;

                            &:first-child {

                                p {

                                    &:first-child {
                                        margin: 0;
                                    }
                                }
                            }

                            p {
                                margin-top: 16px;
                            }

                            ol {
                                padding-left: 32px;
                                list-style-type: lower-roman;
                            }
                        }
                    }
                }
            }

            button {
                display: block;
                margin: 16px auto;
                width: 77.6vw;
                height: 11.2vw;
                @include mainBtn;
            }
        }

        //最新公告
        &.news {

            .typeList {
                width: 100%;
                height: 14.4vw;
                border-bottom: dotted 1px $mainBorder_1;
                display: flex;
                padding: 0 5vw;

                li {
                    display: flex;
                    width: 22.67vw;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin-right: 10px;

                    button {
                        width: 100%;
                        height: 10vw;
                        @include secondBtn;
                    }
                }
            }

            .content {
                width: 100%;
                height: auto;
                max-height: 40vh;
                padding: 0 5vw;
                overflow-y: auto;
                display: none;

                &.display {
                    display: block;
                }

                li {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    border: dotted 1px $mainBorder_1;
                    padding: 16px 24px;
                    margin-top: 10px;

                    &:last-child {
                        margin-bottom: 10px;
                    }

                    .date {
                        color: $mainWord_2;
                        font-size: 2vw;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 6px;
                    }

                    .text {
                        color: $mainWord_1;
                        font-size: 3.4vw;
                        font-weight: bold;
                        letter-spacing: 1px;
                        line-height: 5vw;
                    }
                }
            }
        }

        //遊戲轉帳彈窗
        &.gameWindow {

            form {
                width: 100%;
                height: auto;
                border-bottom: solid 1px $mainBorder_1;
                padding: 32px 16px;
                display: flex;
                flex-direction: column;

                .row {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    margin-bottom: 5vw;

                    &:last-child {
                        margin: 0;
                    }

                    &.checkBtn {
                        justify-content: flex-end;

                        button {
                            width: calc(100% - 20vw);
                            height: 11.2vw;
                            @include mainBtn;
                        }
                    }

                    .smallTitle {
                        width: 20vw;
                        color: $title_1;
                        font-size: 14px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        flex-shrink: 0;
                    }

                    .moneyText {
                        color: $money;
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }

                    .btnBox {
                        width: 100%;
                        height: auto;
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        grid-gap: 1vw;

                        button {
                            width: auto;
                            height: 9vw;
                            @include secondBtn;
                        }
                    }

                    input {
                        width: 100%;
                        height: 9.87vw;
                        @include mainInput;
                    }
                }
            }

            .enterBtn {
                width: 77.6vw;
                height: 11.2vw;
                @include mainBtn;
                display: block;
                margin: 16px auto;
            }
        }

        //lang
        &.langWindow {

            ul {
                width: 100%;
                height: auto;
                padding: 16px;
                
                li {
                    width: 100%;
                    height: 9.87vw;
                    margin-bottom: 2.4vw;
                    @include secondBtn;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        //修改手機
        &.phoneWindow {

            .smallTitle {
                width: 100%;
                height: auto;
                margin: 4vw 0;
                color: $money;
                font-size: 4vw;
                font-weight: bold;
                text-align: center;
            }

            form {
                width: 100%;
                height: auto;

                label {
                    width: 77.33vw;
                    height: 9.87vw;
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin: 0 auto 5vw;

                    input {
                        width: 100%;
                        height: 100%;
                        @include mainInput;
                    }

                    .cellphoneCheck {
                        width: auto;
                        height: 8vw;
                        position: absolute;
                        right: 5px;
                        @include mainBtn;
                        border-radius: 5px;
                        font-size: 2vw;
                    }
                }

                .remind {
                    width: 77.33vw;
                    color: $remind;
                    font-size: 4vw;
                    font-weight: bold;
                    text-align: center;
                    padding: 5vw 0;
                    margin: 0 auto;
                }

                .checkBtn {
                    width: 77.33vw;
                    height: 9.87vw;
                    @include mainBtn;
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        //更變密碼
        &.passwordWindow {

            .content {
                width: 100%;
                height: auto;
                text-align: center;

                input {
                    width: 77.33vw;
                    height: 9.87vw;
                    margin-top: 5vw;
                    @include mainInput;
                }

                button {
                    width: 77.33vw;
                    height: 9.87vw;
                    @include mainBtn;
                    margin: 5vw 0;
                }
            }
        }

        //會員紅利詳情
        &.pointWindow {

            .content {
                width: 100%;
                height: auto;
                padding: 16px;

                ul {
                    width: 100%;
                    height: auto;
                    @include bgStyle_2;
                    background: $mainBG_1;
                    overflow: hidden;

                    li {
                        width: 100%;
                        height: 32px;
                        border-bottom: solid 1px $mainBorder_2;
                        display: flex;

                        &:last-child {
                            border: none;
                        }

                        &.smallTitle {
                            @include titleBG_1;

                            p {
                                color: $mainWord_1;
                            }
                        }

                        p {
                            width: 50%;
                            height: 100%;
                            color: $money;
                            font-size: 3.4vw;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        //帳戶平台彈窗
        &.accWindow,
        &.platWindow {

            .content {
                width: 100%;
                height: auto;
                padding: 16px;

                .bigBox {
                    width: 100%;
                    height: auto;

                    button {
                        width: 100%;
                        height: 42px;
                        @include mainBtn;
                    }
                }
                
                .smallBox {
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-gap: 10px;
                    margin-top: 10px;

                    button {
                        width: auto;
                        height: 38px;
                        @include secondBtn;
                    }
                }
            }
        }

        //任務詳情
        &.eventWindow {

            .content {
                width: 100%;
                height: auto;
                max-height: 76vh;
                overflow-y: auto;
                padding: 24px 16px;

                p {
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    color: $mainWord_1;
                    line-height: 18px;
                    margin-bottom: 8px;
                }

                img {
                    margin-bottom: 10px;
                }
            }

            .btnBox {
                width: 100%;
                height: auto;
                padding: 16px;
                
                button {
                    width: 100%;
                    height: 42px;
                    @include mainBtn;
                }
            }
        }

        //loading
        &.loading {

            .content {
                width: 100%;
                height: 60vw;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                div {
                    width: 30vw;
                    height: 30vw;
                    animation: round 2s linear 0s infinite;
                }

                p {
                    color: $mainWord_1;
                    font-size: 4vw;
                    font-weight: bold;
                    margin-top: 20px;
                }

                @keyframes round {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}