//slot頁
.slotWrap {
    width: 100%;
    height: auto;

    //slot上選單
    .slotHeader {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 16px;

        //選單
        .listBox {
            width: 100%;
            height: auto;
            margin-bottom: 16px;

            ul {
                width: 100%;
                height: auto;
                @include chooseStyle_1;

                li {
                    width: 34%;
                    height: auto;
                    font-size: 3.4vw;
                    padding: 10px 0;

                    i {
                        width: 16px;
                        height: 16px;
                        margin: 0 5px -2px 0;
                    }
                }
            }
        }

        //搜尋列
        .searchBox {
            width: 92%;
            height: 28px;
            @include slotSearch;
            margin: 0 auto;

            .search_ic {
                display: block;
                width: 15px;
                height: 15px;
            }

            input {
                width: 100%;
                height: auto;
                @include slotSearch_Input;
            }
        }
    }

    //slot遊戲列
    .gameList {
        @include bgStyle_1;
        height: calc(100vh - 201px);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 180px;
        grid-gap: 10px;
        padding: 0 16px 10px;

        .gameBox {
            width: auto;
            height: auto;
            @include bgStyle_2;
            overflow: hidden;

            p {
                width: 100%;
                height: 30px;
                padding: 0 16px;
                color: $mainWord_1;
                font-size: 3.4vw;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                    width: 17px;
                    height: 17px;
                    margin-bottom: -2px;
                }
            }

            .btnBox {
                width: 100%;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                button {
                    width: 20vw;
                    height: 32px;
                    
                    &.enter {
                        @include mainBtn;
                        font-size: 3.4vw;
                    }

                    &.try {
                        @include secondBtn;
                        font-size: 3.4vw;
                    }
                }
            }
        }
    }
}